/* fonts */

body {
    font-family: 'Open Sans', sans-serif;
    color:#8B8C89;
    overflow-x: hidden;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 30px;
}

.note-input {
    font-size: 16px;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 18px;
}

/* color */

.gray {
    filter: invert(58%) sepia(2%) saturate(291%) hue-rotate(39deg) brightness(95%) contrast(92%);
    color: #8B8C89;
}

.pink {
    filter: invert(96%) sepia(44%) saturate(3202%) hue-rotate(284deg) brightness(99%) contrast(113%);
    color: #ffafcc;
}

.rose {
    filter: invert(100%) sepia(77%) saturate(902%) hue-rotate(286deg) brightness(98%) contrast(115%);
    color: #ffe5ece6;
}

/* header */

body {
    margin: 0;
}

.min-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    border-bottom: 3px solid #ffafcc;
    box-shadow: 0 5px 5px 0 rgba(255, 175, 204, 0.4)
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1440px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.header-icon {
    width: 30px;
    margin-right: 15px;
}

.title {
    margin-right: 80px;
}

.refresh-icon {
    width: 25px;
}

.btn-refresh {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-refresh:hover {
    background-color: rgba(255,229,236, 0.9);
}

/* main */

.main {
    display: flex;
}

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;
    width: 100px;
}

.side-notes-logo {
    width: 25px;
    filter: invert(58%) sepia(2%) saturate(291%) hue-rotate(39deg) brightness(95%) contrast(92%);
}

.side-trash-logo {
    width: 25px;
    filter: invert(58%) sepia(2%) saturate(291%) hue-rotate(39deg) brightness(95%) contrast(92%);
}

.btn-side-menu {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 100%;
    cursor: pointer;
}

.btn-color {
    background-color: rgba(255,229,236, 0.9);
}

.notes-section {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0;
    padding-top: 120px;
}

.noteInput-box {
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #ffafcc;
    margin-bottom: 150px;
    border-radius: 10px;
}

.save-button {
    background-color:rgba(255,229,236, 0.9);
    width: 40px;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 14px;
    margin-right: 14px;
}

.hover:hover {
    background-color:#ffafcc;
}

.save-icon {
    width: 16px;
    margin: 0;
    padding: 0;
}

.textarea {
    align-items: flex-start;
    display: flex;
    align-items: center;
}

.note-input {
    width: 530px;
    border: unset;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
    resize: none;
}

.note-input:focus {
    outline-width: 0;
    background-color: rgba(255,229,236, 0.9);
    border-radius: 10px;
    
}

.contentShowNotes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-wrap-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.withInput {
    height: 250px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid rgba(255,229,236, 0.9);
    background-color: rgba(255,229,236, 0.2);
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 8px;
}

.note {
    word-wrap: break-word;
    margin: 0;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 4px;
    font-size: 16px;
}

.container-trash {
    display: flex;
    justify-content: flex-end;
}

.reload-icon {
    width: 15px;
    cursor: pointer;
    filter: invert(58%) sepia(2%) saturate(291%) hue-rotate(39deg) brightness(95%) contrast(92%);
    margin-right: 15px;
}

.trash-icon-content {
    width: 15px;
    cursor: pointer;
    filter: invert(58%) sepia(2%) saturate(291%) hue-rotate(39deg) brightness(95%) contrast(92%);
}

.main-icon {
    height: 80px;
    padding-top: 30px;
}

/* Scrollbalken */

/* Width */

::-webkit-scrollbar {
    width: 4px;
}

/* Track */

::-webkit-scrollbar-track {
    background-color: rgba(139, 140, 137, 0.2);
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background-color: #8B8C89;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background-color: #8B8C89;
    cursor: pointer;
}

/* footer */

footer {
    height: 64px;
    background-color: rgba(255,229,236, 0.9);
    display: flex;
}

.footer-container {
    max-width: 1440px;
    width: 100%;
    padding-left: 100px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-separator {
    margin-left: 8px;
    margin-right: 8px;
}

.impressum,
.privacy-policy {
    color:#8B8C89;
    text-decoration: none;
}

.impressum:hover,
.privacy-policy:hover {
    text-decoration: underline;
}

/* impressum */

.back-arrow {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 30px;
}

.back-arrow a {
    text-decoration: none;
    color:#8B8C89;
    font-size: 20px;
}

.impressum-container,
.datenschutz-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.impressum-container h1 {
    margin-bottom: 10px;
}

.impressum-container a {
    color:#8B8C89;
}